<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Yor Post Viewer</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Blocco dei menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/welcome">
          <span class="material-icons md-home" title="home" aria-hidden="true"></span>
          Home
          </a>
        </li>
      </ul>

      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="md-28 material-icons md-menu"></i> </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" onclick="darkmode(this)" href="#">
              <span class="material-icons md-nights_stay" title="Dark mode"></span>
            </a>
          </li>
          <!-- Avatar e Menu Utente -->
          <li class="dropdown nav-item">
             <app-avatar></app-avatar>
          </li>
        </ul>
      </div>

    </div>
  </div>
</nav>
