@import "../node_modules/bootstrap/dist/css/bootstrap.css";



body {
  position: relative;
  min-height: 100vh;
}

body.offcanvas-active {
  overflow: hidden;
}

.main-wrap {
  margin-left: 260px;
}


.content-main {
  padding: 30px 3%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.makeItMiddle{
  transform: translate(-50%, -50%);
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.content-header a {
  margin-right: 5px;
}

.content-header .content-title {
  margin-bottom: 0;
}

.main-header {
  padding-left: 3%;
  padding-right: 3%;
  min-height: 72px;
  background-color: #fff;
  border-bottom: 1px solid rgba(108, 117, 125, 0.25);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
