<section class="content-main">

  <div class="content-header">
    <h2 class="content-title">Griglia Post</h2>
    <div>
      <a (click)="this.navigateBack()" class="btn btn-success">
        <i class="material-icons md-list"></i>
        List View
      </a>
    </div>
  </div>

  <div class="card mb-4">
      <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text"  placeholder="Cerca..." [(ngModel)]="filter"  class="form-control">
        </div>
      </div>
    </header>

    <div class="card-body">

      <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-3 row-cols-xxl-3" *ngIf="posts$">
        <app-post-card
        *ngFor="let post of filteredPosts | paginate: { itemsPerPage: line, currentPage: page };"
        [item-card] = "post"
        (elimina-card) = "handleDelete($event)"
        (edit) = "handleEdit($event)"
        ></app-post-card>
      </div>

      <!-- Paginazione -->
      <nav class="float-end mt-3" aria-label="Page navigation">
        <pagination-controls
         class="my-pagination"
         (pageChange)="page = $event"
          previousLabel="Previous"
          nextLabel="Next"
        >
        </pagination-controls>
        </nav>
    </div>
  </div>
</section>
